.password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: 15vh;
  border: 1px solid grey;
  margin: 3% auto;
  font-size: 22px;
  padding: 3%;
  box-shadow: 5px 5px 15px 5px #000000;

  overflow-wrap: break-word; 
  word-wrap: break-word;
  word-break: break-all;
  line-break: auto;
}