.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 20%;
  height: 15%;
  box-shadow: 3px 3px 11px 0 rgba(25, 25, 25, 0.35);
  cursor: pointer;
  font-size: 30px;
  border-radius: 15%;
}

.default {
  color: #2c748f;
}

.equal {
  background: #1ccb8f;
  color: white;
  padding-bottom: 3px;
}

.calc-percent {
  cursor: not-allowed;
}

.arithmetic {
  color: #13c0d7;
  font-size: 20px;
}

.zero {
  width: 45%;
}

.option {
  font-size: 20px;
  color: #0b0a0a;
}
